@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Roboto:wght@400;700;900&display=swap');
/*
font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img{
    /*nunca sera mas grande de lo que es originalmente max-width: 100%*/
    max-width: 100%;
}

.hero{    
    margin-bottom: 1em;
    padding: 3em 0;
    background-color: #F3EED9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hero-intro{
    color: #824936;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    line-height: 1;
}



.container{
    width: 90%;
    max-width: 1128px;
    margin: 0 auto;
}

.row{
    display: block;    
}

.row>*{
    width: 90%;
    padding-bottom: 1em;    
    margin: 0 auto;
}

.features-intro{
    padding: 2em 0;    
    display: flex;
    align-items: center;
    background-color: white;
}

.features-intro-title{
    text-align: center;
    color: #824936;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 36px;
}

.features-item{
    padding: 2em 0;    
    background-color: #222C2A;    
    display: flex;
    align-items: center;
}

.features-item + .features-item{
    background-color: #824936;    
}

.features-item-title{
    color: #F3EED9;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 36px;
    
}


.features-item-paragraph, .features-intro-paragraph{    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin-top: 0.5em;   
    
}

.features-item-paragraph{
    color: white;
}

.change-order{
    order: -1;
}

@media (min-width: 650px) {
    .hero-intro{
        font-size: 60px;
    }    
    .container {
        width: 70%;
    }
    
    .row {
        display: flex;
        flex-direction: row;    
        align-items: center;
        justify-content: space-between;
    }
    .row>*{
        width: 45%;
    }
}