@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {   
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 3rem;
    margin-top: 0;
}

.container{
    width: 90%;    
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER SECTION*/
.header{
    background-color: #2E323F;
    padding: 1em 0;
}

.nav {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.nav__list{    
    list-style-type: none;
    text-align: center;
}
.nav__item{
    margin: 0.4em;
}
.nav__link{
    text-decoration: none;
    color: white;        
}

.nav__link:hover{
    opacity: 0.7;
}

.nav__link--button{
    background-color: #A59678;
}

/*HERO SECTION*/
.hero{
    background-color: #3B4050;
    padding: 1em 0em 2em 0em;
}

.hero__title{
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    line-height: 1em;
    color: white;
    margin-bottom: 0.5em;
    
}

.hero__title>span{
    color: #A59678;
}

.hero__desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #e4e4e4;        
}

.hero__desc>p {
    margin-bottom: 1em;
}

.btn{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #A59678;       
    padding: 0.2em 1em; 
    border-radius: 100px;
}

.btn:hover{
    opacity: 0.7;
}

/*FEATURES SECTION*/
.features{
    background-color: #e4e4e4;
}

.feature__item{
    padding: 0.5em 0em;
}
.features__title{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #A59678
}

.features__desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/*ARTICLE SECTION*/
.article__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: #A59678;
    margin: 0.7em 0;
}

.article__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 1.6em;
    
}

.article__img{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-image: url('./img/the-image.jpg');
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}
.article-highlights{
    
}

.article-highlights__item{
    background-color: #3B4050;
    padding: 1em 1.5em 2.5em 1.5em;
    margin: 1.6em auto;
    color: white;
    text-align: center;
    
}

.article-highlights__title{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin-bottom: 1em;
}

.article-highlights__desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.footer{
    background-color: #3B4050;
}


/*FOOTER SECTION*/

.footer{
    padding: 2em 0;
    text-align: center; 
}
.footer__title{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;       
    margin-bottom: 1em;
}

.about__intro{
    margin: 2em 0;
}

.about__intro-title, .about__features-title{
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    color: #A59678;
    margin-bottom: 0.5em;
    
}
.about__intro-paragraph, .about__features-paragraph{
    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    color: #e4e4e4;
    margin-bottom: 1em;
    
}

@media (min-width: 700px) {
    .three-cols{
        display: flex;
        flex-direction: row;
        padding: 1em 0em;
    }
    .hero__title{
        line-height: 1.2em;
    }
    .article-highlights__item{
        padding: 1em 1em 2.5em 1em;
        margin: 1.6em 0.4em;
    }
    .feature__item{
        padding: 1em 0.7em 2.5em 0.7em;
        
    }
    img{
        /*deberia ponerla en un contenedor en el background image*/
    }
}

@media (min-width: 1000px) {
    .nav__list{
        display: flex;
        flex-direction: row;
    }
    .two-cols{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;        
    }
    .hero__desc{
        padding-bottom: 2em;
    }
}

